/Client/[Ll]ibrary/
/Client/[Tt]emp/
/Client/[Oo]bj/
/Client/[Bb]uild/
/Client/[Bb]uilds/
/Client/[Ll]ogs/
/Client/[Mm]emoryCaptures/


/Client/ExportedObj/
/Client/.consulo/
/Client/*.csproj
/Client/*.unityproj
/Client/*.sln
/Client/*.suo
/Client/*.tmp
/Client/*.user
/Client/*.userprefs
/Client/*.pidb
/Client/*.booproj
/Client/*.svd
/Client/*.pdb
/Client/*.mdb
/Client/*.opendb
/Client/*.VC.db
/Client/*.pidb.meta
/Client/*.pdb.meta
/Client/*.mdb.meta
/Client/.idea/

/Server/obj/
/Server/bin/
/Server/.idea/
